body{
    background-color: #ffff00;
    margin: 20px;
}

#photo{
    width: 160px;
    aspect-ratio: 1/1;
    margin: 20px;    
    border: solid 3px #fefae0;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px #fefae0;
}

#info{
    margin: 10px;
    padding: 10px;
}

#card{
    color: #fefae0;
    justify-content: center;
    background-color: #008b74;
    padding: 10px;
    border: #fefae0 solid 3px;
    border-radius: 20px;
    width: 500px;
    margin: 0 auto;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#quote{
    color: #ffff00;
    font-size: 20px;
    text-align: center;
}