body {
  background-image: url("../img/stars.webp");
  background-size: cover;
  background-position: top;
  text-align: center;
  color: white;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 1%;
}

#btn {
  background-color: #ffeeaa;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: inherit;
  padding: 10px 20px;
  border: 2px solid #ffeeaa;
  border-top: 2px solid #fcc801;
  border-left: 5px solid #fcc801;
  border-radius: 10px;
  text-shadow: 2px 2px 1px #ff7f2a;
}

#btn:hover {
  background-color: #ffeeaa;
  color: black;
  filter: invert(100%);
}
#a:hover {
  background-color: #ffeeaa;
  color: black;
  filter: invert(100%);
}

h1 {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 20px;
  border-top: 2px solid #fcc801;
  border-left: 5px solid #fcc801;
  border-radius: 10px;
  background: #000000;
  color: #fcc801;
  text-shadow: 2px 2px 4px #ff7f2a;
}

header {
  text-align: center;
  color: white;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 20px;
}

#planet-striker {
  width: 200px;
  margin: 20px auto;
  display: block;
}
a {
  color: #ff7f2a;
  text-decoration: none;
  text-shadow: 2px 2px 3px #fcc801;
}

footer {
  text-align: center;
  color: white;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 20px 0px;
  position: relative;
  bottom: 0;
  width: 100%;
}

section {
  text-align: justify;
  color: white;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}

img {
  padding: 1%;
  width: 100%;
}

div {
  padding: 10px;
  margin: 5px;
  border: 2px solid #ffeeaa;
  border-radius: 10px;
  background-color: #000000;
  width: 32%;
}
